@media screen and (max-width: 600px) {
  
  .hamburger{
    display: block;
  }
  
  .icon-section img{
   width: 28.724px;
  height: 33.516px;
  }
  .icon-section h2{
    font-size: 24px;
   
  }
  .icon-section h2 span{
    font-size: 24px;
   
  }
  .nav-main{
    transform: translateX(-200%);
  }
  /* banner section */
  .banner-main{
    /* height: 1000px; */
   

  }
  .banner-text-section{
   
    margin-bottom: 35px;

  }
  .banner-text-section h1{
    font-size: 22px;
    color: rgb(237, 221, 221);
  }
  .banner-input-section{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding-left: 100px;
    /* width: 287px;
    background: rgba(255, 255, 255, 0.30); */
  }
  #banner-input{
    width: 70%;
    justify-content: center;
  }
  
  /* popular section */

  .popular-main{
    flex-direction: column;
    margin-top: 20px;
  }
  .popular-text-section {
    width: 335px;
    margin: 40px 60px;
    padding: 16px;
    
  }
  .popular-img-section img{
  margin-left: 15px;
}


  /* destination section */

  .destination-img-container .single-img-container {
    width: 100%;
    padding: 5px;
    align-items: center;
  }

  .destination-img-container .single-img-container img{
    width: 100%;
    height: 200px;
    
  }

  /* dealsanddiscounts-section */
  .dealsanddiscounts-container{
    /* padding: 25px; */
    align-items: center;
  }
  .ddpackages{
    justify-content: center;
    min-height: 520px;
    background-repeat: no-repeat;
    margin: 0 15px;
    border-radius: 16px;
  }
  .ddpackages2{
    justify-content: center;
    min-height: 520px;
    background-repeat: no-repeat;
    margin: 0 15px;
    border-radius: 16px;
  }
  .ddcard{
    margin-left: 45px;
    /* height: 310px; */
    /* padding: 60px; */

  }
 
  .ddcard2{
    margin-right: 45px;
  }
  

  /* video section */
  .video-main{
    flex-direction: column;
  }
  .video-main .vid-text{
    width: 100%;
    padding: 25px;
  }
  .video-main .vid-content iframe{
    width: 100%;
    height: 300px;
  }

  /* newsletter-section */
  .newsletter-main{
    flex-direction: column;
    margin: 50px auto;
  }
  .newsletter-main .newsletter-text{
    width: 90%;
    padding: 25px;
    margin-left: 30px;
  }
  .newsletter-img {
    width: 80%;
    margin: 0px 15px;
  }





















}